body{
	background: #e8e5e1;
}
.web-project{
	min-height: 300px;
	margin-bottom: 10px;
	padding: 5px;
}

.project-img{
	height: 225px;
	width: 100%;
	
}
.project-img:hover{
	box-shadow: 3px 3px 10px #9b8d71;
}
.tech{
	font-style: italic;
}
.caption{
	margin-top: 5px;
}

@media only screen and (max-width: 992px) and (min-width: 500px){
    .web-project {
        height:400px;
    }
    .project-img{
    	height:300px;
    }
}